.class-f{
    flot: left;
}

#sidebar{
    float: left;
    width: 420px;
    border: 1px #bfbfbf solid;
    margin-right: 10px;
    padding: 5px;
}
iframe{
    border: 0px !important;
    min-height: 300px;
}
line.mur{
    cursor: pointer;
}

svg circle:hover{cursor: default;}

#zone-dessin{
    display: block;
    z-index: 2000;
    position: relative;
    margin-left: 6px;
    margin-top: 6px;
}
#bg{
    position: absolute;
    z-index: 100;
}
#content{
    position: relative;
    float: left;
    width: 700px;
}
.tooltip{
    z-index: 2030;
}